.frame-child24 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 333px;
  height: 580px;
}
.apply-a-leave,
.apply-leave1 {
  position: absolute;
  color: var(--color-black);
}
.apply-leave1 {
  text-decoration: none;
  top: 19px;
  left: calc(50% - 56.5px);
  font-size: var(--font-size-xl);
}
.apply-a-leave {
  margin: 0;
  top: 64px;
  left: 18px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  width: 101px;
  height: 18px;
}
.line-icon {
  position: absolute;
  top: 93px;
  left: 7px;
  max-height: 100%;
  width: 319px;
  object-fit: cover;
}
.employee-name,
.from-date,
.leave-type,
.reason1,
.to-date {
  cursor: pointer;
  position: absolute;
  top: 114px;
  left: 18px;
  font-weight: 300;
  display: inline-block;
  width: 108px;
  height: 21px;
}
.from-date,
.leave-type,
.reason1,
.to-date {
  top: 186px;
  left: 20px;
}
.from-date,
.reason1,
.to-date {
  top: 258px;
}
.reason1,
.to-date {
  top: 330px;
}
.reason1 {
  top: 402px;
  left: 18px;
}
.frame-child25,
.frame-child26,
.frame-child27,
.frame-child28,
.rectangle-textarea {
  border: 1px solid var(--color-gray);
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 142px;
  left: 18px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 294px;
  height: 35px;
}
.frame-child26,
.frame-child27,
.frame-child28,
.rectangle-textarea {
  top: 214px;
  left: 20px;
}
.frame-child27,
.frame-child28,
.rectangle-textarea {
  top: 286px;
}
.frame-child28,
.rectangle-textarea {
  top: 358px;
}
.rectangle-textarea {
  top: 430px;
  left: 18px;
  height: 86px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumseagreen);
  position: absolute;
  top: 526px;
  left: 205px;
  border-radius: var(--br-31xl);
  box-shadow: 5px 7px 4px rgba(69, 195, 128, 0.41);
  width: 102px;
  height: 34px;
}
.apply {
  text-decoration: none;
  position: absolute;
  top: 534px;
  left: 238px;
  color: var(--color-white);
  display: inline-block;
  width: 53px;
  height: 18px;
}
.rectangle-parent3 {
  position: absolute;
  height: calc(100% - 209px);
  top: 123px;
  bottom: 86px;
  left: calc(50% - 166px);
  width: 333px;
  overflow-y: auto;
  color: var(--color-darkslategray);
}
.logo-1-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.leaves-list2 {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-parent3 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.frame-child29 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.material-symbolsperson-icon3 {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ellipse-parent2 {
  position: absolute;
  top: 25px;
  right: 12px;
  width: 36px;
  height: 36px;
}
.applyleavemob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.frame-child30 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon12 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard2 {
  text-decoration: none;
  position: absolute;
  top: 36px;
  left: 135px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon13 {
  position: absolute;
  height: 68.89%;
  width: 87.41%;
  top: 15.56%;
  right: 6.3%;
  bottom: 15.56%;
  left: 6.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentpeople-32-regular2 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 79px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon14 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular2 {
  text-decoration: none;
  position: absolute;
  top: 13px;
  left: 14px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.vector-icon15 {
  position: absolute;
  height: 95.93%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluent-mdl2leave-user2 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 190px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon16 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arcticonsgoogle-pay2,
.uitcalender2 {
  position: absolute;
  top: 35px;
  overflow: hidden;
}
.uitcalender2 {
  text-decoration: none;
  left: 246px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.arcticonsgoogle-pay2 {
  left: 302px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ellipse-parent3 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 167px);
  width: 332px;
  height: 65px;
}
.applyleavemob-item {
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0;
  left: 0;
  background: linear-gradient(89.89deg, #fb880e, #f55f17);
  height: 41px;
}
.frame-child31,
.frame-child32,
.frame-child33,
.frame-child34 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 158.5px);
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  width: 77px;
  height: 24px;
  cursor: pointer;
}
.frame-child32,
.frame-child33,
.frame-child34 {
  left: calc(50% - 78.5px);
}
.frame-child33,
.frame-child34 {
  left: calc(50% + 1.5px);
  background-color: var(--color-bisque);
}
.frame-child34 {
  left: calc(50% + 81.5px);
  background-color: var(--color-gainsboro-100);
}
.leaves-list3 {
  left: calc(50% - 145.5px);
  color: inherit;
  width: 57px;
}
.apply-leave2,
.assign-leave1,
.leaves-list3,
.my-leaves1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 6px);
  display: inline-block;
  height: 11px;
  cursor: pointer;
}
.assign-leave1 {
  left: calc(50% - 71.5px);
  color: inherit;
  width: 62px;
}
.apply-leave2,
.my-leaves1 {
  width: 57px;
}
.apply-leave2 {
  left: calc(50% + 12.5px);
  color: var(--color-orangered);
}
.my-leaves1 {
  left: calc(50% + 96.5px);
  color: inherit;
}
.rectangle-parent4 {
  position: absolute;
  top: 79px;
  left: calc(50% - 161px);
  width: 317px;
  height: 24px;
  font-size: var(--font-size-3xs);
}
.applyleavemob {
  position: relative;
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
