.frame-child35 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 333px;
  height: 580px;
}
.assign-a-leave,
.assign-leave2 {
  position: absolute;
  color: var(--color-black);
}
.assign-leave2 {
  text-decoration: none;
  top: 19px;
  left: calc(50% - 61.5px);
  font-size: var(--font-size-xl);
}
.assign-a-leave {
  margin: 0;
  top: 64px;
  left: 18px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  width: 191px;
  height: 18px;
}
.frame-child36 {
  position: absolute;
  top: 93px;
  left: 7px;
  max-height: 100%;
  width: 319px;
  object-fit: cover;
}
.employee-name1,
.from-date1,
.leave-type1,
.reason2,
.to-date1 {
  cursor: pointer;
  position: absolute;
  top: 114px;
  left: 18px;
  font-weight: 300;
  display: inline-block;
  width: 108px;
  height: 21px;
}
.from-date1,
.leave-type1,
.reason2,
.to-date1 {
  top: 186px;
  left: 20px;
}
.from-date1,
.reason2,
.to-date1 {
  top: 258px;
}
.reason2,
.to-date1 {
  top: 330px;
}
.reason2 {
  top: 402px;
  left: 18px;
}
.frame-child37,
.frame-child38,
.frame-child39,
.frame-child40,
.frame-child41 {
  border: 1px solid var(--color-gray);
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 142px;
  left: 18px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 294px;
  height: 35px;
}
.frame-child38,
.frame-child39,
.frame-child40,
.frame-child41 {
  top: 214px;
  left: 20px;
}
.frame-child39,
.frame-child40,
.frame-child41 {
  top: 286px;
}
.frame-child40,
.frame-child41 {
  top: 358px;
}
.frame-child41 {
  top: 430px;
  left: 18px;
  height: 86px;
}
.frame-child42 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumseagreen);
  position: absolute;
  top: 526px;
  left: 205px;
  border-radius: var(--br-31xl);
  box-shadow: 5px 7px 4px rgba(69, 195, 128, 0.41);
  width: 102px;
  height: 34px;
}
.assign {
  text-decoration: none;
  position: absolute;
  top: 534px;
  left: 236px;
  color: var(--color-white);
  display: inline-block;
  width: 53px;
  height: 18px;
}
.rectangle-parent5 {
  position: absolute;
  height: calc(100% - 209px);
  top: 123px;
  bottom: 86px;
  left: calc(50% - 166px);
  width: 333px;
  overflow-y: auto;
  color: var(--color-darkslategray);
}
.logo-1-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.leaves-list4 {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-parent4 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.frame-child43 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.material-symbolsperson-icon4 {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ellipse-parent4 {
  position: absolute;
  top: 25px;
  right: 12px;
  width: 36px;
  height: 36px;
}
.assignleavemob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.frame-child44 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon17 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard3 {
  text-decoration: none;
  position: absolute;
  top: 36px;
  left: 135px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon18 {
  position: absolute;
  height: 68.89%;
  width: 87.41%;
  top: 15.56%;
  right: 6.3%;
  bottom: 15.56%;
  left: 6.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentpeople-32-regular3 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 79px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon19 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular3 {
  text-decoration: none;
  position: absolute;
  top: 13px;
  left: 14px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.vector-icon20 {
  position: absolute;
  height: 95.93%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluent-mdl2leave-user3 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 190px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon21 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arcticonsgoogle-pay3,
.uitcalender3 {
  position: absolute;
  top: 35px;
  overflow: hidden;
}
.uitcalender3 {
  text-decoration: none;
  left: 246px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.arcticonsgoogle-pay3 {
  left: 302px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ellipse-parent5 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 166px);
  width: 332px;
  height: 65px;
}
.assignleavemob-item {
  position: absolute;
  width: 100%;
  top: 69px;
  right: 0;
  left: 0;
  background: linear-gradient(89.89deg, #fb880e, #f55f17);
  height: 41px;
}
.frame-child45,
.frame-child46,
.frame-child47,
.frame-child48 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 12px);
  border-radius: var(--br-31xl);
  width: 77px;
  height: 24px;
}
.frame-child45 {
  left: calc(50% - 158.5px);
  background-color: var(--color-gainsboro-100);
  cursor: pointer;
}
.frame-child46,
.frame-child47,
.frame-child48 {
  left: calc(50% - 78.5px);
  background-color: var(--color-bisque);
}
.frame-child47,
.frame-child48 {
  left: calc(50% + 1.5px);
  background-color: var(--color-gainsboro-100);
  cursor: pointer;
}
.frame-child48 {
  left: calc(50% + 81.5px);
}
.leaves-list5 {
  left: calc(50% - 145.5px);
  color: inherit;
  width: 57px;
  cursor: pointer;
}
.apply-leave3,
.assign-leave3,
.leaves-list5,
.my-leaves2 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 6px);
  display: inline-block;
  height: 11px;
}
.assign-leave3 {
  left: calc(50% - 71.5px);
  color: var(--color-orangered);
  width: 62px;
}
.apply-leave3,
.my-leaves2 {
  left: calc(50% + 12.5px);
  color: inherit;
  width: 57px;
  cursor: pointer;
}
.my-leaves2 {
  left: calc(50% + 96.5px);
}
.rectangle-parent6 {
  position: absolute;
  top: 78px;
  left: calc(50% - 158px);
  width: 317px;
  height: 24px;
  font-size: var(--font-size-3xs);
}
.assignleavemob {
  position: relative;
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
