body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-rubik: Rubik;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-4xl: 23px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-3xs: 10px;
  --font-size-mid: 17px;

  /* Colors */
  --color-ghostwhite: #f6f5fb;
  --color-white: #fff;
  --color-mediumseagreen: #45c380;
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-black: #000;
  --color-darkslategray: #313131;
  --color-orangered: #ff5400;
  --color-bisque: #ffe2c6;
  --color-gray: #7f7f7f;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-31xl: 50px;
}

.logo-1-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 45.5px);
  width: 99px;
  height: 92px;
  object-fit: cover;
}
.span {
  color: var(--color-white);
}
.hrm {
  color: var(--color-mediumseagreen);
}
.anika-hrm {
  margin: 0;
  position: absolute;
  top: 92px;
  left: 75px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-black);
}
.frame-child {
  position: absolute;
  top: 144px;
  left: 7px;
  border-radius: var(--br-xl);
  background: linear-gradient(148.56deg, #fcb368 8.77%, #f45e17 78.5%);
  width: 298px;
  height: 439px;
}
.image-1-icon,
.pngfind-1-icon {
  position: absolute;
  top: 524px;
  left: 39px;
  width: 236px;
  height: 113px;
  object-fit: cover;
}
.image-1-icon {
  top: 566px;
  left: 0;
  width: 191px;
  height: 191px;
}
.create-your-account {
  position: absolute;
  top: 170px;
  left: calc(50% - 108.5px);
  font-size: var(--font-size-4xl);
  font-weight: 500;
}
.email-id,
.username {
  position: absolute;
  top: 212px;
  left: 36px;
}
.username {
  top: 287px;
}
.confirm-password,
.password {
  position: absolute;
  top: 362px;
  left: 36px;
}
.confirm-password {
  top: 437px;
}
.frame-child1,
.frame-inner,
.frame-item,
.rectangle-div {
  position: absolute;
  top: 244px;
  left: 36px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 251px;
  height: 35px;
}
.frame-child1,
.frame-inner,
.rectangle-div {
  top: 319px;
}
.frame-child1,
.rectangle-div {
  top: 394px;
}
.frame-child1 {
  top: 469px;
}
.frame-child2 {
  position: absolute;
  top: 515px;
  left: 181px;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumseagreen);
  box-shadow: 4px 4px 4px rgba(69, 195, 128, 0.5);
  width: 100px;
  height: 33px;
}
.create {
  position: absolute;
  top: 523px;
  left: 219px;
  font-size: var(--font-size-mini);
}
.tablerlogout-icon {
  position: absolute;
  top: 522px;
  left: 194px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.logo-1-parent {
  position: absolute;
  height: calc(100% - 32px);
  top: 26px;
  bottom: 6px;
  left: calc(50% - 157px);
  width: 305px;
  overflow-y: auto;
}
.createaccountmob {
  position: relative;
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
