.frame-child97,
.vector-icon42 {
  position: absolute;
  top: 0;
  right: 0;
}
.frame-child97 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumseagreen);
  border-radius: var(--br-31xl);
  box-shadow: 5px 7px 4px rgba(69, 195, 128, 0.41);
  width: 109px;
  height: 33px;
}
.vector-icon42 {
  width: 15px;
  height: 15px;
}
.add-employee,
.typcnplus {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
}
.typcnplus {
  top: 9px;
  left: 10px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.add-employee {
  top: 11px;
  right: 10px;
  font-weight: 500;
  color: inherit;
}
.rectangle-parent11 {
  position: absolute;
  top: 76px;
  right: 18px;
  width: 109px;
  height: 33px;
  cursor: pointer;
}
.logo-1-icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
  cursor: pointer;
}
.employee-list3 {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-parent9 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frame-child98 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.material-symbolsperson-icon9 {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ellipse-parent14 {
  position: absolute;
  top: 25px;
  right: 12px;
  width: 36px;
  height: 36px;
}
.employeelistmob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.frame-child99 {
  position: absolute;
  top: 0;
  left: 47px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon43 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard8 {
  text-decoration: none;
  position: absolute;
  top: 36px;
  left: 125px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon44 {
  position: absolute;
  height: 68.89%;
  width: 87.41%;
  top: 15.56%;
  right: 6.3%;
  bottom: 15.56%;
  left: 6.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentpeople-32-regular8 {
  text-decoration: none;
  position: absolute;
  top: 15px;
  left: 61px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.vector-icon45 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular8 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon46 {
  position: absolute;
  height: 95.93%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluent-mdl2leave-user8 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 182px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon47 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arcticonsgoogle-pay8,
.uitcalender8 {
  position: absolute;
  top: 35px;
  overflow: hidden;
}
.uitcalender8 {
  text-decoration: none;
  left: 240px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.arcticonsgoogle-pay8 {
  left: 298px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ellipse-parent15 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 160px);
  width: 328px;
  height: 65px;
}
.employeelistmob {
  position: relative;
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
