.logo-1-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.leaves-list7 {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-parent11 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
  cursor: pointer;
}
.frame-child146 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.material-symbolsperson-icon15 {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ellipse-parent23 {
  position: absolute;
  top: 25px;
  right: 12px;
  width: 36px;
  height: 36px;
}
.leaveslistmob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.frame-child147 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon68 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard13 {
  text-decoration: none;
  position: absolute;
  top: 36px;
  left: 135px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon69 {
  position: absolute;
  height: 68.89%;
  width: 87.41%;
  top: 15.56%;
  right: 6.3%;
  bottom: 15.56%;
  left: 6.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentpeople-32-regular13 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 79px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon70 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular13 {
  text-decoration: none;
  position: absolute;
  top: 13px;
  left: 14px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.vector-icon71 {
  position: absolute;
  height: 95.93%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluent-mdl2leave-user13 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 190px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon72 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arcticonsgoogle-pay13,
.uitcalender13 {
  position: absolute;
  top: 35px;
  overflow: hidden;
}
.uitcalender13 {
  text-decoration: none;
  left: 246px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.arcticonsgoogle-pay13 {
  left: 302px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ellipse-parent24 {
  position: absolute;
  bottom: 9px;
  left: calc(50% - 165px);
  width: 332px;
  height: 65px;
}
.leaveslistmob-item {
  position: absolute;
  width: 100%;
  top: 68px;
  right: 0;
  left: 0;
  background: linear-gradient(89.89deg, #fb880e, #f55f17);
  height: 41px;
}
.frame-child148,
.frame-child149,
.frame-child150,
.frame-child151 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 158.5px);
  border-radius: var(--br-31xl);
  background-color: var(--color-bisque);
  width: 77px;
  height: 24px;
}
.frame-child149,
.frame-child150,
.frame-child151 {
  left: calc(50% - 78.5px);
  background-color: var(--color-gainsboro-100);
  cursor: pointer;
}
.frame-child150,
.frame-child151 {
  left: calc(50% + 1.5px);
}
.frame-child151 {
  left: calc(50% + 81.5px);
}
.apply-leave4,
.assign-leave4,
.leaves-list8,
.my-leaves3 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 6px);
  display: inline-block;
  height: 11px;
}
.leaves-list8 {
  left: calc(50% - 145.5px);
  color: var(--color-orangered);
  width: 57px;
}
.apply-leave4,
.assign-leave4,
.my-leaves3 {
  left: calc(50% - 70.5px);
  color: inherit;
  width: 62px;
  cursor: pointer;
}
.apply-leave4,
.my-leaves3 {
  left: calc(50% + 12.5px);
  width: 57px;
}
.my-leaves3 {
  left: calc(50% + 96.5px);
}
.rectangle-parent20 {
  position: absolute;
  top: 77px;
  left: calc(50% - 159px);
  width: 317px;
  height: 24px;
  font-size: var(--font-size-3xs);
}
.leaveslistmob {
  position: relative;
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
