.logo-1-icon21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.users {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-parent19 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 271px;
  height: 38px;
  cursor: pointer;
}
.frame-child209 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.material-symbolsperson-icon19 {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ellipse-parent31 {
  position: absolute;
  top: 25px;
  right: 12px;
  width: 36px;
  height: 36px;
}
.usersmob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.frame-child210 {
  position: absolute;
  top: 0;
  left: 106px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon89 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard17 {
  text-decoration: none;
  position: absolute;
  top: 15px;
  left: 119px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.vector-icon90 {
  position: absolute;
  height: 68.89%;
  width: 87.41%;
  top: 15.56%;
  right: 6.3%;
  bottom: 15.56%;
  left: 6.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentpeople-32-regular17 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 55px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon91 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular17 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon92 {
  position: absolute;
  height: 95.93%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluent-mdl2leave-user17 {
  text-decoration: none;
  position: absolute;
  top: 36px;
  left: 185px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon93 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arcticonsgoogle-pay17,
.uitcalender17 {
  position: absolute;
  top: 36px;
  overflow: hidden;
}
.uitcalender17 {
  text-decoration: none;
  left: 241px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.arcticonsgoogle-pay17 {
  left: 297px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ellipse-parent32 {
  position: absolute;
  bottom: 7px;
  left: calc(50% - 162px);
  width: 327px;
  height: 66px;
}
.usersmob {
  position: relative;
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
