.logo-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.attendance-management {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-group {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
}
.attendenceemp-mob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.attendenceemp-mob-item {
  position: absolute;
  width: 100%;
  top: 75px;
  right: 0;
  left: 0;
  background: linear-gradient(89.89deg, #fb880e, #f55f17);
  height: 41px;
}
.frame-inner,
.frame-item,
.rectangle-a {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 128.5px);
  border-radius: var(--br-31xl);
  background-color: var(--color-bisque);
  width: 77px;
  height: 24px;
}
.frame-inner,
.rectangle-a {
  left: calc(50% - 38.5px);
  background-color: var(--color-gainsboro-100);
}
.rectangle-a {
  left: calc(50% + 53.5px);
}
.attendance,
.my-attendance,
.punch-inout {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 6px);
  display: inline-block;
  height: 11px;
}
.attendance {
  left: calc(50% - 117.5px);
  color: var(--color-orangered);
  width: 57px;
}
.my-attendance,
.punch-inout {
  left: calc(50% - 32.5px);
  color: inherit;
  width: 69px;
}
.my-attendance {
  left: calc(50% + 57.5px);
  width: 72px;
}
.rectangle-parent {
  position: absolute;
  top: 83px;
  left: calc(50% - 119px);
  width: 237px;
  height: 24px;
  font-size: var(--font-size-3xs);
}
.arcticonsgoogle-pay1 {
  position: absolute;
  top: 36px;
  left: 293px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 181px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon3 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard1 {
  text-decoration: none;
  position: absolute;
  top: 38px;
  left: 98px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon4 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular1 {
  text-decoration: none;
  top: 37px;
  left: 5px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.fluentperson-clock-20-regular1,
.uitcalender1,
.vector-icon5 {
  position: absolute;
  overflow: hidden;
}
.vector-icon5 {
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.uitcalender1 {
  text-decoration: none;
  top: 13px;
  left: 195px;
  width: 27px;
  height: 27px;
}
.arcticonsgoogle-pay-parent {
  position: absolute;
  bottom: 12px;
  left: calc(50% - 155px);
  width: 323px;
  height: 66px;
}
.attendenceemp-mob {
  position: relative;
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
