.logo-1-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.employee-management2 {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-parent4 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
}
.empsalarydetails-mob-inner {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 1px;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.vector-icon21 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular6 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 1px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon22 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arcticonsgoogle-pay6,
.uitcalender6 {
  position: absolute;
  top: 36px;
  overflow: hidden;
  cursor: pointer;
}
.uitcalender6 {
  text-decoration: none;
  left: 195px;
  width: 27px;
  height: 27px;
}
.arcticonsgoogle-pay6 {
  left: 293px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child27 {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon23 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard6 {
  text-decoration: none;
  position: absolute;
  top: 14px;
  left: 98px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.fluentperson-clock-20-regular-container {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 162px);
  width: 323px;
  height: 66px;
}
.empsalarydetails-mob-child1 {
  position: absolute;
  width: 100%;
  top: 64px;
  right: 0;
  left: 0;
  background: linear-gradient(90.06deg, #fb860e, #f45e17);
  height: 36px;
}
.frame-child28,
.personal-details1 {
  text-decoration: none;
  position: absolute;
}
.frame-child28 {
  top: 0;
  left: calc(50% - 42px);
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  width: 84px;
  height: 23px;
}
.personal-details1 {
  top: 6px;
  left: calc(50% - 37px);
  color: inherit;
  display: inline-block;
  width: 78px;
  height: 14px;
  cursor: pointer;
}
.rectangle-parent10 {
  top: 0;
  left: 62px;
  width: 84px;
  height: 23px;
}
.job1,
.rectangle-parent10,
.rectangle-parent11 {
  position: absolute;
  cursor: pointer;
}
.job1 {
  text-decoration: none;
  top: 6px;
  left: calc(50% - 10px);
  color: inherit;
  display: inline-block;
  width: 20px;
  height: 14px;
}
.rectangle-parent11 {
  top: 0;
  left: 152px;
  width: 84px;
  height: 23px;
}
.frame-child30,
.salary1 {
  text-decoration: none;
  position: absolute;
}
.frame-child30 {
  top: 0;
  left: calc(50% - 42px);
  border-radius: var(--br-31xl);
  background-color: var(--color-bisque);
  width: 84px;
  height: 23px;
}
.salary1 {
  top: 5px;
  left: calc(50% - 16px);
  color: inherit;
  display: inline-block;
  width: 32px;
  height: 14px;
}
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 84px;
  height: 23px;
  color: var(--color-orangered);
}
.documents1,
.frame-child31 {
  text-decoration: none;
  position: absolute;
}
.frame-child31 {
  top: 0;
  left: calc(50% - 42px);
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke);
  width: 84px;
  height: 23px;
}
.documents1 {
  top: 6px;
  left: calc(50% - 26px);
  color: inherit;
  display: inline-block;
  width: 55px;
  height: 14px;
  cursor: pointer;
}
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 337px;
  width: 84px;
  height: 23px;
  cursor: pointer;
}
.frame-child32 {
  position: absolute;
  top: -0.5px;
  left: 23.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 24px;
}
.bxhome-icon1,
.line-group {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.bxhome-icon1 {
  left: -9px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: cover;
}
.line-group {
  left: 20px;
  width: 24px;
  height: 23px;
}
.frame-container {
  position: absolute;
  top: 71px;
  left: calc(50% - 168px);
  width: 336px;
  height: 23px;
  overflow-x: auto;
  font-size: var(--font-size-3xs);
}
.vector-icon24 {
  position: absolute;
  height: 1.27%;
  width: 1.39%;
  top: 9.89%;
  right: 1.11%;
  bottom: 88.85%;
  left: 97.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child33 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 333px;
  height: 575px;
}
.employee-management3 {
  text-decoration: none;
  position: absolute;
  top: 19px;
  left: calc(50% - 109.5px);
  font-size: var(--font-size-xl);
  color: inherit;
}
.salary-details {
  margin: 0;
  position: absolute;
  top: 64px;
  left: 18px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  width: 147px;
  height: 18px;
}
.frame-child34 {
  position: absolute;
  top: 93px;
  left: 7px;
  max-height: 100%;
  width: 319px;
  object-fit: cover;
}
.frame-child35 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  width: 300px;
  height: 74px;
}
.cost-of-company,
.mdirupee-icon {
  position: absolute;
  top: 28px;
  left: 12px;
}
.mdirupee-icon {
  top: 31px;
  left: 174px;
  width: 19px;
  height: 19px;
  overflow: hidden;
  object-fit: cover;
}
.input6 {
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-rubik);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 28px;
  left: 197px;
  color: var(--color-darkslategray-100);
  text-align: left;
}
.rectangle-parent15 {
  position: absolute;
  top: 112px;
  left: 18px;
  width: 300px;
  height: 74px;
}
.frame-child38,
.rectangle-parent16,
.rectangle-parent17 {
  position: absolute;
  top: 191px;
  left: 18px;
  width: 300px;
  height: 74px;
}
.frame-child38,
.rectangle-parent17 {
  top: 271px;
}
.frame-child38 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  height: 192px;
}
.deductions-breakdown,
.pf {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 14px;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  width: 160px;
  height: 18px;
}
.pf {
  top: 57px;
  left: 28px;
  width: 97px;
}
.input9 {
  border: 0;
  outline: 0;
  font-family: var(--font-rubik);
  font-size: var(--font-size-mini);
  background-color: transparent;
  top: 57px;
  left: 193px;
  color: var(--color-black);
  text-align: left;
}
.esi,
.input10,
.input11,
.input9 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
  width: 97px;
  height: 18px;
}
.input10 {
  border: 0;
  outline: 0;
  font-family: var(--font-rubik);
  font-size: var(--font-size-mini);
  background-color: transparent;
  top: 136px;
  left: 193px;
  color: var(--color-black);
  text-align: left;
}
.esi,
.input11 {
  top: 93px;
}
.input11 {
  border: 0;
  outline: 0;
  font-family: var(--font-rubik);
  font-size: var(--font-size-mini);
  background-color: transparent;
  left: 193px;
  color: var(--color-black);
  text-align: left;
}
.esi {
  margin: 0;
  left: 28px;
  font-size: inherit;
  font-family: inherit;
}
.frame-child39,
.frame-child40 {
  position: absolute;
  top: 37px;
  left: 7px;
  max-height: 100%;
  width: 283px;
  object-fit: cover;
}
.frame-child40 {
  top: 130px;
  left: 160px;
  width: 108px;
}
.rectangle-parent18 {
  position: absolute;
  top: 351px;
  left: 18px;
  width: 300px;
  height: 192px;
  font-size: var(--font-size-mini);
}
.rectangle-parent14 {
  position: absolute;
  height: calc(100% - 214px);
  top: 112px;
  bottom: 102px;
  left: calc(50% - 167px);
  width: 333px;
  overflow-y: auto;
  font-size: var(--font-size-lg);
}
.empsalarydetails-mob1 {
  position: relative;
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
