.logo-1-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.employee-management {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-parent3 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
}
.empsalarydetails-mob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 1px;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.vector-icon17 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular5 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 1px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon18 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arcticonsgoogle-pay5,
.uitcalender5 {
  position: absolute;
  top: 36px;
  overflow: hidden;
  cursor: pointer;
}
.uitcalender5 {
  text-decoration: none;
  left: 195px;
  width: 27px;
  height: 27px;
}
.arcticonsgoogle-pay5 {
  left: 293px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child17 {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon19 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard5 {
  text-decoration: none;
  position: absolute;
  top: 14px;
  left: 98px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.fluentperson-clock-20-regular-group {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 162px);
  width: 323px;
  height: 66px;
}
.empsalarydetails-mob-item {
  position: absolute;
  width: 100%;
  top: 64px;
  right: 0;
  left: 0;
  background: linear-gradient(90.06deg, #fb860e, #f45e17);
  height: 36px;
}
.frame-child18 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: calc(50% - 42px);
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  width: 84px;
  height: 23px;
}
.personal-details {
  text-decoration: none;
  top: 6px;
  left: calc(50% - 37px);
  color: inherit;
  display: inline-block;
  width: 78px;
  height: 14px;
}
.job,
.personal-details,
.rectangle-parent5 {
  position: absolute;
  cursor: pointer;
}
.rectangle-parent5 {
  top: 0;
  left: 62px;
  width: 84px;
  height: 23px;
}
.job {
  text-decoration: none;
  top: 6px;
  left: calc(50% - 10px);
  color: inherit;
  display: inline-block;
  width: 20px;
  height: 14px;
}
.rectangle-parent6 {
  top: 0;
  left: 152px;
  width: 84px;
  height: 23px;
}
.rectangle-parent6,
.rectangle-parent7,
.salary {
  position: absolute;
  cursor: pointer;
}
.salary {
  text-decoration: none;
  top: 5px;
  left: calc(50% - 16px);
  color: inherit;
  display: inline-block;
  width: 32px;
  height: 14px;
}
.rectangle-parent7 {
  top: 0;
  left: 246px;
  width: 84px;
  height: 23px;
}
.documents,
.frame-child21 {
  text-decoration: none;
  position: absolute;
}
.frame-child21 {
  top: 0;
  left: calc(50% - 42px);
  border-radius: var(--br-31xl);
  background-color: var(--color-bisque);
  width: 84px;
  height: 23px;
}
.documents {
  top: 6px;
  left: calc(50% - 26px);
  color: inherit;
  display: inline-block;
  width: 55px;
  height: 14px;
}
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 337px;
  width: 84px;
  height: 23px;
  color: var(--color-orangered);
}
.frame-child22 {
  position: absolute;
  top: -0.5px;
  left: 23.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 24px;
}
.bxhome-icon {
  position: absolute;
  top: 0;
  left: -9px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.frame-group,
.line-parent {
  position: absolute;
  height: 23px;
}
.line-parent {
  top: 0;
  left: 20px;
  width: 24px;
  cursor: pointer;
}
.frame-group {
  top: 71px;
  left: calc(50% - 168px);
  width: 336px;
  overflow-x: auto;
  font-size: var(--font-size-3xs);
}
.vector-icon20 {
  position: absolute;
  height: 1.27%;
  width: 1.39%;
  top: 9.89%;
  right: 1.11%;
  bottom: 88.85%;
  left: 97.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 333px;
  height: 575px;
}
.employee-management1 {
  text-decoration: none;
  position: absolute;
  top: 19px;
  left: calc(50% - 110.5px);
  font-size: var(--font-size-xl);
  color: inherit;
}
.document-view,
.documentspdf,
.uploaded-docs {
  margin: 0;
  position: absolute;
  top: 64px;
  left: 17px;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  width: 147px;
  height: 18px;
}
.document-view,
.documentspdf {
  top: 230px;
  left: 115px;
  width: 105px;
}
.document-view {
  top: 127px;
  left: 17px;
  font-weight: 400;
  width: 147px;
}
.frame-child24 {
  position: absolute;
  top: 93px;
  left: 6px;
  max-height: 100%;
  width: 319px;
  object-fit: cover;
}
.frame-child25 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumseagreen);
  position: absolute;
  top: 297px;
  left: 101px;
  border-radius: var(--br-3xs);
  width: 125px;
  height: 34px;
}
.view-file {
  text-decoration: none;
  position: absolute;
  top: 305px;
  left: 128px;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-white);
  display: inline-block;
  width: 67px;
  height: 19px;
}
.frame-icon {
  position: absolute;
  top: 185px;
  left: 147px;
  width: 38px;
  height: 30px;
  object-fit: cover;
}
.frame-child26 {
  position: absolute;
  top: 159px;
  left: 17px;
  background-color: transparent;
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 298px;
  height: 198px;
}
.rectangle-parent9 {
  position: absolute;
  height: calc(100% - 194px);
  top: 110px;
  bottom: 84px;
  left: calc(50% - 170px);
  width: 339px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
}
.empsalarydetails-mob {
  position: relative;
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
