.logo-1-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.employee-management8 {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-parent7 {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
}
.empdashboard-mob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 1px;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.vector-icon33 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fluentperson-clock-20-regular9 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 1px;
  width: 27px;
  height: 27px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon34 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arcticonsgoogle-pay9,
.uitcalender9 {
  position: absolute;
  top: 36px;
  overflow: hidden;
  cursor: pointer;
}
.uitcalender9 {
  text-decoration: none;
  left: 195px;
  width: 27px;
  height: 27px;
}
.arcticonsgoogle-pay9 {
  left: 293px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child74 {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon35 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsdashboard9 {
  text-decoration: none;
  position: absolute;
  top: 14px;
  left: 98px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.fluentperson-clock-20-regular-parent3 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 162px);
  width: 323px;
  height: 66px;
}
.empdashboard-mob-item {
  position: absolute;
  width: 100%;
  top: 64px;
  right: 0;
  left: 0;
  background: linear-gradient(89.98deg, #fb860f, #f55f18);
  height: 36px;
}
.frame-child75,
.gatepass-log1 {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
}
.frame-child75 {
  top: 0;
  left: calc(50% - 42px);
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke);
  width: 84px;
  height: 23px;
}
.gatepass-log1 {
  top: 6px;
  left: calc(50% - 32px);
  color: inherit;
  display: inline-block;
  width: 64px;
  height: 14px;
}
.frame-child76,
.rectangle-parent29 {
  position: absolute;
  top: 0;
  width: 84px;
  height: 23px;
}
.rectangle-parent29 {
  left: 0;
}
.frame-child76 {
  text-decoration: none;
  left: calc(50% - 42px);
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke);
}
.personal-details5 {
  text-decoration: none;
  top: 6px;
  left: calc(50% - 37px);
  color: inherit;
  display: inline-block;
  width: 78px;
  height: 14px;
}
.job4,
.personal-details5,
.rectangle-parent30 {
  position: absolute;
  cursor: pointer;
}
.rectangle-parent30 {
  top: 0;
  left: 86px;
  width: 84px;
  height: 23px;
}
.job4 {
  text-decoration: none;
  top: 6px;
  left: calc(50% - 10px);
  color: inherit;
  display: inline-block;
  width: 20px;
  height: 14px;
}
.rectangle-parent31 {
  top: 0;
  left: 172px;
  width: 84px;
  height: 23px;
}
.rectangle-parent31,
.rectangle-parent32,
.salary4 {
  position: absolute;
  cursor: pointer;
}
.salary4 {
  text-decoration: none;
  top: 5px;
  left: calc(50% - 16px);
  color: inherit;
  display: inline-block;
  width: 32px;
  height: 14px;
}
.rectangle-parent32 {
  top: 0;
  left: 258px;
  width: 84px;
  height: 23px;
}
.documents4 {
  text-decoration: none;
  position: absolute;
  top: 6px;
  left: calc(50% - 26px);
  color: inherit;
  display: inline-block;
  width: 55px;
  height: 14px;
  cursor: pointer;
}
.rectangle-parent33 {
  position: absolute;
  top: 0;
  left: 344px;
  width: 84px;
  height: 23px;
  cursor: pointer;
}
.frame-parent3 {
  position: absolute;
  top: 71px;
  left: calc(50% - 171px);
  width: 342px;
  height: 23px;
  overflow-x: auto;
  font-size: var(--font-size-3xs);
}
.frame-child80 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 337px;
  height: 216px;
}
.input12 {
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-rubik);
  font-size: var(--font-size-smi);
  background-color: transparent;
  position: absolute;
  top: 91px;
  left: 266px;
  color: var(--color-black);
  text-align: left;
}
.frame-child81,
.screenshot-2023-10-27-141446-1 {
  position: absolute;
  top: 30px;
  left: 9px;
  width: 136px;
  height: 131px;
  object-fit: cover;
}
.frame-child81 {
  top: 18px;
  left: 155px;
  width: 22px;
  height: 22px;
}
.basic-info {
  margin: 0;
  position: absolute;
  top: 19px;
  left: 188px;
  font-size: var(--font-size-mini);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-darkslategray-200);
}
.gender1,
.male {
  font-weight: 300;
  position: absolute;
  top: 42px;
}
.gender1 {
  margin: 0;
  left: 188px;
}
.male {
  border: 0;
  outline: 0;
  font-family: var(--font-rubik);
  font-size: var(--font-size-smi);
  background-color: transparent;
  left: 237px;
  color: var(--color-black);
  text-align: left;
}
.marital-status1 {
  margin: 0;
  top: 66px;
  left: 188px;
}
.date-of-birth1,
.marital-status1,
.single {
  position: absolute;
  font-weight: 300;
}
.single {
  border: 0;
  outline: 0;
  font-family: var(--font-rubik);
  font-size: var(--font-size-smi);
  background-color: transparent;
  top: 67px;
  left: 274px;
  color: var(--color-black);
  text-align: left;
}
.date-of-birth1 {
  margin: 0;
  top: 90px;
  left: 188px;
}
.solarsuitcase-outline-icon {
  position: absolute;
  top: 110px;
  left: 154px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.job-info {
  margin: 0;
  position: absolute;
  top: 114px;
  left: 188px;
  font-size: var(--font-size-mini);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-darkslategray-200);
}
.department-it,
.joining-date24112022 {
  margin: 0;
  position: absolute;
  top: 136px;
  left: 188px;
  font-weight: 300;
}
.department-it {
  top: 159px;
}
.aspl202211240019 {
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-rubik);
  font-size: var(--font-size-smi);
  background-color: transparent;
  position: absolute;
  top: 167px;
  left: 21px;
  color: var(--color-black);
  text-align: left;
}
.frame-child82,
.rectangle-parent34 {
  position: absolute;
  top: 0;
  left: 0;
  width: 337px;
  height: 216px;
}
.frame-child82 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 339px;
  height: 139px;
}
.input13,
.naradamohan1gmailcom {
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-rubik);
  font-size: var(--font-size-smi);
  background-color: transparent;
  position: absolute;
  top: 96px;
  left: 65px;
  color: var(--color-black);
  text-align: left;
}
.input13 {
  top: 71px;
  left: 70px;
}
.vector-icon36 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-wrapper {
  position: absolute;
  top: 8px;
  left: 150px;
  width: 30px;
  height: 30px;
}
.contact-info,
.phone {
  margin: 0;
  position: absolute;
}
.contact-info {
  top: 42px;
  left: 121px;
  font-size: var(--font-size-mini);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-darkslategray-200);
}
.phone {
  top: 70px;
  left: 27px;
  font-weight: 300;
}
.email1 {
  display: block;
}
.email {
  margin: 0;
  position: absolute;
  top: 96px;
  left: 27px;
  font-weight: 300;
  display: inline-block;
  width: 36px;
  height: 14px;
}
.frame-child83,
.rectangle-parent35 {
  position: absolute;
  top: 230px;
  left: 0;
  width: 339px;
  height: 139px;
}
.frame-child83 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  height: 218px;
}
.casual-leaves,
.leave-balance,
.sick-leaves,
.total-leaves1 {
  position: absolute;
  top: 60px;
  left: 16px;
  font-weight: 300;
}
.leave-balance,
.sick-leaves,
.total-leaves1 {
  top: 91px;
}
.leave-balance,
.total-leaves1 {
  top: 122px;
}
.leave-balance {
  margin: 0;
  top: 12px;
  font-size: var(--font-size-mid);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 116px;
  height: 19px;
}
.frame-child84 {
  position: absolute;
  top: 37px;
  left: 7px;
  max-height: 100%;
  width: 325px;
  object-fit: cover;
}
.input14,
.input15,
.input16 {
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-rubik);
  font-size: var(--font-size-mini);
  background-color: transparent;
  position: absolute;
  top: 60px;
  left: 117px;
  color: var(--color-black);
  text-align: left;
}
.input15,
.input16 {
  top: 91px;
  left: 102px;
}
.input16 {
  top: 122px;
  left: 104px;
}
.frame-child85,
.rectangle-parent36 {
  position: absolute;
  left: 0;
  width: 339px;
}
.rectangle-parent36 {
  top: 383px;
  height: 218px;
  font-size: var(--font-size-mini);
}
.frame-child85 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  height: 198px;
}
.leave-list {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 84px;
  height: 19px;
}
.frame-child86 {
  position: absolute;
  top: 40px;
  left: 6px;
  width: 325px;
  height: 0;
  object-fit: cover;
}
.frame-child87 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  position: absolute;
  top: 9px;
  left: 195px;
  border-radius: var(--br-31xl);
  width: 136px;
  height: 25px;
}
.view-leave-list {
  text-decoration: none;
  position: absolute;
  top: 14px;
  left: 217px;
  font-size: var(--font-size-smi);
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 94px;
  height: 14px;
}
.rectangle-parent37 {
  position: absolute;
  top: 614px;
  left: 0;
  width: 339px;
  height: 198px;
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-200);
}
.frame-parent4 {
  position: absolute;
  height: calc(100% - 194px);
  top: 110px;
  bottom: 84px;
  left: calc(50% - 170px);
  width: 339px;
  overflow-y: auto;
  font-size: var(--font-size-smi);
}
.empdashboard-mob {
  position: relative;
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
