body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-rubik: Rubik;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-mid: 17px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --font-size-4xs: 9px;
  --font-size-lg: 18px;

  /* Colors */
  --color-ghostwhite: #f6f5fb;
  --color-white: #fff;
  --color-black: #000;
  --color-orangered: #ff5400;
  --color-gainsboro-100: #e8e8e8;
  --color-bisque: #ffe2c6;
  --color-mediumseagreen: #45c380;
  --color-gray: #7f7f7f;
  --color-darkslategray-100: #404040;
  --color-darkslategray-200: #313131;
  --color-darkgray: #9d9d9d;
  --color-whitesmoke: #f0f0f0;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-xl: 20px;
  --br-3xs: 10px;
}
