.logo-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.leave-management {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.frame-div {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
}
.mgremplist-mob-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 1px;
  left: 0;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.frame-child7 {
  position: absolute;
  top: 40px;
  left: 267px;
  width: 26.2px;
  height: 20.6px;
}
.uitcalender2,
.vector-icon6 {
  position: absolute;
  overflow: hidden;
}
.vector-icon6 {
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  max-height: 100%;
}
.uitcalender2 {
  text-decoration: none;
  top: 36px;
  left: 194px;
  width: 27px;
  height: 27px;
}
.frame-child8 {
  position: absolute;
  top: 0;
  left: -13px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon7 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.akar-iconsdashboard2 {
  text-decoration: none;
  position: absolute;
  top: 38px;
  left: 97px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.vector-icon8 {
  position: absolute;
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fluentperson-clock-20-regular2 {
  text-decoration: none;
  position: absolute;
  top: 14px;
  left: 1px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.frame-container {
  position: absolute;
  bottom: 13px;
  left: calc(50% - 151px);
  width: 293.2px;
  height: 63px;
}
.mgremplist-mob {
  width: 100%;
  position: relative;
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
