.logo-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.attendance-management1 {
  text-decoration: none;
  position: absolute;
  top: 7px;
  left: 41px;
  color: inherit;
}
.logo-1-container {
  position: absolute;
  top: 23px;
  left: 12px;
  width: 171px;
  height: 38px;
}
.mgrattendance-mob-inner,
.rectangle-div {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.mgrattendance-mob-inner {
  bottom: 1px;
  background: linear-gradient(90deg, #fb890d, #f45e17);
  height: 47px;
}
.rectangle-div {
  top: 64px;
  background: linear-gradient(89.98deg, #fb860f, #f55f18);
  height: 36px;
}
.frame-child2,
.frame-child3,
.frame-child4 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 133px);
  border-radius: var(--br-31xl);
  background-color: var(--color-bisque);
  width: 77px;
  height: 24px;
}
.frame-child3,
.frame-child4 {
  left: calc(50% - 53px);
  background-color: var(--color-gainsboro);
}
.frame-child4 {
  left: calc(50% + 27px);
  width: 106px;
}
.attendance-log1,
.attendance1,
.remote-attendance1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 6px);
  display: inline-block;
  height: 11px;
}
.attendance1 {
  left: calc(50% - 122px);
  color: var(--color-orangered);
  width: 57px;
}
.attendance-log1,
.remote-attendance1 {
  left: calc(50% - 52px);
  color: inherit;
  width: 75px;
}
.remote-attendance1 {
  left: calc(50% + 33px);
  width: 93px;
}
.rectangle-group {
  position: absolute;
  top: 70px;
  left: calc(50% - 98px);
  width: 266px;
  height: 24px;
  font-size: var(--font-size-3xs);
}
.frame-child5,
.vector-icon3 {
  position: absolute;
  top: 40px;
  left: 267px;
  width: 26.2px;
  height: 20.6px;
}
.vector-icon3 {
  height: 85.19%;
  width: 85.19%;
  top: 10%;
  right: 4.81%;
  bottom: 4.81%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fluentperson-clock-20-regular1 {
  text-decoration: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.frame-child6 {
  position: absolute;
  top: 0;
  left: 180px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 55px;
  height: 55px;
}
.vector-icon4 {
  position: absolute;
  height: 75%;
  width: 83.46%;
  top: 12.69%;
  right: 8.08%;
  bottom: 12.31%;
  left: 8.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.akar-iconsdashboard1 {
  text-decoration: none;
  top: 35px;
  left: 97px;
  width: 26px;
  height: 26px;
}
.akar-iconsdashboard1,
.uitcalender1,
.vector-icon5 {
  position: absolute;
  overflow: hidden;
}
.vector-icon5 {
  height: 83.33%;
  width: 83.33%;
  top: 8.52%;
  right: 8.15%;
  bottom: 8.15%;
  left: 8.52%;
  max-width: 100%;
  max-height: 100%;
}
.uitcalender1 {
  text-decoration: none;
  top: 13px;
  left: 194px;
  width: 27px;
  height: 27px;
}
.frame-group {
  position: absolute;
  bottom: 13px;
  left: calc(50% - 147px);
  width: 293.2px;
  height: 63px;
}
.mgrattendance-mob1 {
  width: 100%;
  position: relative;
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
